<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body {
        background-image: url("static/background.jpg");
    }
    </style>
</head>
<body>
    <div style="text-align: center;">
        <h1> Приложение для звонков через Asterisk </h1>
        <div style="text-align: center;">
        <h2> Типы звонков: </h2>
        <form>
            <button><a class="call1" href="/call_from_manager"> Звонок через менджера </a></button>
            <br>
            <button><a class="call2" href="/call_from_abonent"> Звонок от внутреннего абонента </a></button>
        </form>
        </div>
    </div>
</body>
</html>